.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width:750px;
    height:450px;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    /* clear:both; */
    box-shadow: green 2px;
   
    /* background-color: greenyellow; */
    background: url('img1.jpg') no-repeat;
    animation:slider 10s infinite linear;
    

}
@keyframes slider {
    0%{   background: url('img1.jpg');}
    20%{  background: url('img2.jpg'); }
    45%{   background: url('img3.jpg');}
    60%{  background: url('img4.jpg'); }
    80%{  background: url('img1.jpg'); }
    100%{ background: url('images (10).jpg');}


    
}
.slide::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity:0.5;
}
